@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.header-title {
    font-size: 48px;
    color: #cfb995;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: normal;
}

.header-subtitle {
    font-weight: normal;
    font-size: 25px;
}

.search {
    display: flex;
    margin-top: 60px;
    border: 1.6px solid #fff;
    border-radius: 4px;
    align-items: center;
    padding: 1px 16px;
}

.search-input {
    height: 46px;
    width: 380px;
    margin-right: 20px;
    text-align: left;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.search-input:focus {
    outline: none;
}

.search-ic {
    color: #fff;
}


@media screen and (max-width: 1200px) {
    .container img {
        width: 100%;
        height: auto;
    }

    .centered {
        height: auto;
    }

    .search-input {
        height: 46px;
        width: 380px;
    }
}

@media screen and (max-width:1024px) {
    .container img {
        width: 100%;
        height: auto;
    }

    .centered {
        height: auto;
    }

    .search-input {
        height: 38px;
        width: 350px;
    }
}

@media screen and (max-width:768px) {
    .container img {
        width: 100%;
        height: auto;
    }

    .centered {
        height: auto;
    }

    .search-input {
        height: 30px;
        width: 340px;
    }
}

@media screen and (max-width:480px) {
    .container img {
        width: 100%;
        height: auto;
    }

    .centered {
        height: auto;
    }

    .search-input {
        height: 20px;
        width: 320px;
    }
}